*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  place-items: end;
  width: 1200px;
  gap: 30px;
  padding: 0 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 27px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;

}

.search-form__fieldset {
  border: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  cursor: pointer;
  text-decoration: underline solid #fff 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: rgb(255 255 255);
  background-color: transparent;
  appearance: none;
  outline: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 18px;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list:focus {
  outline: none;
}

.search-form__checkbox-list:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  position: relative;
  outline: none;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.search-form__checkbox:checked~.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  background-color: transparent;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.button:hover {
  text-decoration: underline solid #fff 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.more-button {
  flex: 1;
  min-height: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
  width: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.content__list-item {
  margin: 0;
  padding-right: 3px;
  padding-left: 3px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  gap: 5px;
  flex-shrink: 0;
  min-width: fit-content;
  display: inline-block;
  max-width: 100%;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  min-height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  width: 196px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  display: block;
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.preloader-template {
  position: absolute;
}